name: Docker Login6

on:
    push:
        branches: main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: AbeerOmar
          password: Data@engineering2024Abeer